body{

    background-image: url(immagini/sottofondo5.jpg);
    background-position: center;
    height: 100%;

    }
    
    .immagine {

    margin: 60px auto auto auto;
    display: flex;
    }

    .designed-by {

    margin: auto -10px auto auto;
    text-align: right;
    font-size: 20px;
    font-family: 'roboto slab';

    }
    
    .logo {

    margin: 15px auto auto 10px;
    width: 100px;
    height: 100px;

    }

    .login{
       
        width: 500px;
        height: 500px;
        border-radius: 50px;
        background-color: #05299e;
        /* box-shadow:  18px 18px 15px #042386, -18px -18px 15px #062fb6; */
        margin:  40px auto auto auto;
        box-shadow:  18px 18px 1px #052590,
        -18px -18px 1px #052dac;

    }

    .text {

    text-align: center;
    font-size: 25px;
    font-family: 'roboto slab';
    color: white;
    }

    .text2 {

    text-align: center;
    font-size: 25px;
    font-family: 'roboto slab';
    color: white;
}

 .socialbar {

width: 50%;
height: 100px;
height: auto;
display: flex;
margin: auto auto auto auto;

} 




 .facebook{

 width: 55px;
 height: 55px;
 border: 1px solid blue;
 border-radius: 20px;
 background-color: white;

} 




 .twitter {

 width: 55px;
 height: 55px;
 border: 1px solid cadetblue;
 border-radius: 20px;
 margin: auto 45px auto 45px;
 background-color: white;

} 


 .instagram {

 width: 55px;
 height: 55px;
 border: 1px solid blue;
 border-radius: 20px;
 background-color: white;

} 



    .separatore {

    width: 400px;
    background-color: lightblue;
    height: 5px;
    margin: 15px auto auto auto;
    border: lightblue 2px solid;
    border-radius: 15px;

    }
    
    .caselladitesto {

    display: flex;
    flex-direction: column;

    }
    

    .email {

    margin: 50px auto auto auto;
    width: 350px;
    height: 45px;
    
    }
    
    
    .password {

    margin: 30px auto auto auto;
    width: 350px;
    height: 45px;
    }

    .password-dimenticata {

    margin: 15px auto 15px auto;
    color: white;
    font-size: 17px;
    font-family: 'roboto slab';
    font-weight: 400;


    }

    .password-dimenticata2 {

margin: 5px auto 5px auto;



}

    
    
    .btn-login {
     
    background-color:indigo;    
    color: white;
    margin: 0px auto auto auto;
    width: 200px;
    height: 45px;
    border: 1px solid indigo;
    transition-duration: 0.8s;
    transition-property: transform;
    }

    .btn-login:hover {
     
     background-color: orangered;
     transform: rotatex(360deg);
     

     }
    
     .icon-by {

     margin: 0px auto auto auto;
     font-size: 20px;
     }

     .div-icon-by {

     width: 100%;
     display: flex;

     }